<template>
  <div class="post_container-wrapper">
    <div class="post_navbar">
      <div class="post_navbar-item">
        <p> {{ $t('filtration') }} </p>
        <VSearch data-testId="search-posts" :placeHolderText="$t('search')+'...'" @input="filterPosts($event)" />
      </div>
      <div class="post_navbar-item">
        <p>{{ $t('posts_per_page') }}</p>
        <VSelect class="post_container-select" data-testId="posts-per-page" :option="options.postsPerPage" @change="getPosts({})"/>
      </div>
      <div class="post_navbar-item">
        <p>{{ $t('posts_sort_by') }}</p>
        <VSelect class="post_container-select" data-testId="sort-posts" :option="options.sortBy" @change="getPosts({})"/>
      </div>
      <div class="post_navbar-item">
      <p>{{ $t('edit_mode') }}:</p>
        <VToggle data-testId="edit-mode" @toggle="isEditMode = !isEditMode"/>
    </div>
      <div class="post_navbar-item">
        <VBtn data-testId="create-post" @click="createPost()" style="margin-top:60px;">{{ $t('create_post') }}</VBtn>
      </div>
    </div>

    <div class="post_container" v-if="postList.posts?.length">
      <ThePost v-for="post in postList.posts" :key="post._id" :post="post" :EditMode="isEditMode" @openPost="openSinglePost(post)" @editPost="editPost(post)" @deletePost="deletePost()" data-testId="post" :data-testPostId="post._id">
        </ThePost>
      </div>
    <div v-else>
      <p style="font-size: 40px; color: black;">{{ $t('no_posts') }}</p>
    </div>
    <div ref="observerBlock" class="observer">
    </div>
    <VModal data-testId="modal" :show="showModal" @toggle="showModal = !showModal">
      <PostForm :post="currentPost" @create="pushPost($event)" @update="updatePost($event)"/>
    </VModal>
  </div>
</template>

<script lang="ts">
import { onMounted, ref, reactive } from "vue"
import post from "@/services/post"
import { useRouter } from "vue-router";
import PostForm from "@/components/PostForm.vue"
import ThePost from "@/components/ThePost.vue";
import { useStore } from 'vuex'
import {IOptionsList, IPostList} from '@/interfaces/global'

export default {
  name: "PostList",
  components: {ThePost, PostForm },
  setup() {
    const router = useRouter()
    const store = useStore()
    const currentPost = ref<object>({})

    const postList = ref<IPostList>({
      posts: [],
      nextPageUrl: '',
      totalPages: 0,
      currentPage: 0,
    })

    const showModal = ref<boolean>(false)

    const isEditMode = ref<boolean>(false)

    const options = reactive<IOptionsList>({
      postsPerPage: {
        value: [
            {
              title: 6,
              value: 6
            },
          {
            title: 12,
            value: 12
          }
          ],
        type: 'perPage',
        action: 'perPageUpdate'
      },
      sortBy: {
        value: [
          {
            title: 'relevant_first',
            value: ''
          },
          {
            title:'title',
            value: 'title'
          },
          {
            title:'content',
            value: 'content'
          }
        ],
        type: 'sortBy',
        action: 'sortByUpdate'
      }
    })

    const observerBlock = ref()

    let filterFiled: {
      value: string
    } =  ref('')

    onMounted(async () => {
      await getPosts({
        perPage: 6,
        page: 1,
      })
      const options = {
        rootMargin: '0px',
        threshold: 1.0
      }

      const callback = function(entries: any, observer: any) {

        if (entries[0].isIntersecting) loadMorePosts()
      };
      const observer = new IntersectionObserver(callback, options);
      await observer.observe(observerBlock.value)
    })


    async function loadMorePosts (): Promise<void> {
      try {
        const response = await post.loadMorePosts(postList.value.nextPageUrl)
        postList.value.nextPageUrl = response.data.nextPageUrl
        postList.value.posts.push(...response.data.posts)
      } catch (e) {
        console.log(e)
      }
    }

    async function getPosts (data: {
      perPage?: number,
      page?: number,
      filtrationField?: string,
      sortBy?: string,
    }): Promise<void> {
      data.perPage = store.state.postsControl[options.postsPerPage.type] ?? 6
      data.page = data.page ?? 1
      if (store.state.postsControl[options.sortBy.type]) data.sortBy = store.state.postsControl[options.sortBy.type] ?? ''
      if (filterFiled.value) data.filtrationField = filterFiled.value

      try {
        const response = await post.getPosts(data)
        postList.value.posts = response.data.posts
            postList.value.nextPageUrl = response.data.nextPageUrl
            postList.value.totalPages = response.data.totalPages
            postList.value.currentPage = response.data.currentPage
      } catch(e) {
        console.log(e)
      }
    }

    async function editPost (item: object): Promise<void> {
      currentPost.value = { ...item }
      showModal.value = true
    }

    async function createPost (): Promise<void> {
      currentPost.value = {
        author: 'Bohdan',
      }
      showModal.value = true
    }

    async function deletePost (): Promise<void> {
      await getPosts({})
    }

    let timeOut: any = null

    function filterPosts(data: string) {
      filterFiled.value = data
      clearTimeout(timeOut)
      timeOut = setTimeout(() => {
        getPosts({
          filtrationField: filterFiled.value,
        })
      }, 500)
    }

    async function updatePost(data: any): Promise<void> {
      showModal.value = false
      let formData = new FormData()
      for (let name in data){
        formData.append(name, data[name])
      }
      await post.updatePost(formData)
      await getPosts({
        filtrationField: filterFiled.value
      })
    }
    async function pushPost(data: any){
      let formData = new FormData()
      for (let name in data){
        formData.append(name, data[name])
      }
      try {
        await post.createPost(formData)
      } catch {
        console.log('here is some toast, but console.log')
      } finally { showModal.value = false }
      await getPosts({
        filtrationField: filterFiled.value
      })
    }

    function openSinglePost(post: { _id: string }) {
      const id = post._id
      store.commit('checkPost', id)
      router.push({
        name: 'SinglePost',
        params: { id },
      })
    }

    return { openSinglePost, pushPost, postList, createPost, filterPosts, observerBlock, getPosts, options, isEditMode, editPost, deletePost, showModal, currentPost, updatePost }
  }
}
</script>

<style lang="scss">
.btn_container {
  z-index: 4;
  position: absolute;
  top: 10px;
  left: 10px;
  justify-content: center;
  display: flex;
  column-gap: 20px;
  margin-bottom: 10px;
}
.post {
  &_navbar {
    justify-content: center;
    display: flex;
    column-gap: 100px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &-item {
      align-items: flex-start;
      & p {
        width: max-content;
      }
    }
  }

  &_container {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-rows: 300px;
    gap: 10px;
    max-width: 1200px;
    @media screen and (max-width: 920px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-select {
      margin-bottom: 15px;
    }
  }
  &__item {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 6px;
    width: 300px;
    padding: 20px;
    position: relative;
    align-items: center;
    display: flex;
    gap: 50px;
    background-color: rgb(29%, 49%, 27%, 0.2);
    @media screen and (max-width: 920px) and (min-width: 601px) {
      width: 600px;
      margin: 0 auto;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      margin: 0 auto;
    }
    &:nth-child(6n -5) {
      @media screen and (min-width: 921px) {
        grid-column: 1 / 3;
        width: 600px;
      }
    }

    &:nth-child(6n - 4){
      @media screen and (min-width: 921px) {
        grid-row-end: span 2;
        flex-direction: column;
      }
    }

    &:nth-child(6n - 3) {
      @media screen and (min-width: 921px) {
        grid-column: 1 / 3;
        width: 600px;
      }
    }

    &:nth-child(6n - 2) {
      @media screen and (min-width: 921px) {
        grid-row-end: span 2;
        flex-direction: column;
      }

    }

    &:nth-child(6n - 1){
      @media screen and (min-width: 921px) {
        grid-column: 2 / 4;
        width: 600px;
      }
    }

    &:nth-child(6n) {
      @media screen and (min-width: 921px) {
        grid-column: 2 / 4;
        width: 600px;
      }
    }
    &-text {
      height: 258px;
    }

    & img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
    }
    &-title {
      font-weight: 700;
      font-size: 22px;
      margin: 0;
    }
  }
}
</style>

