<script setup lang="ts">
import {ref, defineProps, defineEmits} from "vue";
import moment from 'moment'
import {IPostListData} from "@/interfaces/global";

const emit = defineEmits(['update', 'create'])
const props = defineProps({
  post : {
    type: Object,
    default: () => ({})
  },
})

const uploadImage = ref()
const postItem = ref<any>({ ...props.post, author: 'Bohdan', created_at: moment().format('DD-MM-YYYY HH:mm')})

function updatePost() {
  if (!validator()) return
  if (postItem.value._id) {
    emit('update', {...postItem.value})
  } else {
    emit('create', {...postItem.value})
  }
}
function upload() {
  uploadImage.value.click()
}

function uploadFile(event: any) {
  postItem.value.picture = event.target.files[0]
}

function validator() {
  return postItem.value.picture && postItem.value.title && postItem.value.content
}
</script>
<template>
<div>
  <p v-if="post._id">{{ $t('edit_post') }}</p>
  <p v-else>{{ $t('create_post') }}</p>
  <div class="content_wrapper">
    <VSearch data-testId="modal-title" :placeHolderText="$t('title')" @input="postItem.title = $event" :content="postItem.title"></VSearch>
    <VSearch data-testId="modal-content" :placeHolderText="$t('content')" @input="postItem.content = $event" :content="postItem.content"></VSearch>

    <input
        ref="uploadImage"
        accept="image/png, image/jpeg"
        type="file"
        @change="uploadFile($event)"
        data-testId="modal-file"
        hidden>
    <VBtn v-if="!post._id" @click="upload">{{ $t('upload') }}</VBtn>
  </div>
  <VBtn @click="updatePost()" class="save_button">{{ $t('save') }}</VBtn>
</div>
</template>

<style scoped>
.content_wrapper {
  margin: 0 auto 20px;
  width: 80%;
}
</style>
