<script setup lang="ts">
import { defineProps, defineEmits } from 'vue'
import postService from "@/services/post";
import moment from 'moment'

const emit = defineEmits(['deletePost', 'openPost'])
const props = defineProps({
  post: {
    type: Object,
    required: true,
  },
  EditMode: {
    type: Boolean,
    default: false,
  },
  creationDate: {
    type: String,
    default: '',
  }
})
async function deleteCurrentPost (): Promise<void> {
  try {
    await postService.deletePost(props.post?._id)
  } catch(e) {
    console.log(e)
  } finally { emit('deletePost') }
}
</script>
<template>
  <div class="post__item" @click.stop="$emit('openPost')">
    <div @click.stop>
      <div class="btn_container" v-if="EditMode">
        <VBtn class="editPost_btn" @click="$emit('editPost')">{{ $t('edit') }}</VBtn>
        <VBtn class="deletePost_btn" @click="deleteCurrentPost()">{{ $t('delete') }}</VBtn>
      </div>
    </div>
    <div class="post__item-image">
      <img
          v-if="post.picture"
          :src="`http://localhost:9000/${post.picture}`"
          alt="img">
    </div>
    <p v-if="creationDate"> {{ $t('created') + ' ' + moment(creationDate, 'DD-MM-YYYY HH:mm').fromNow() }}</p>
    <p class="post__item-title">
      {{ post.title }}
    </p>
  </div>
</template>

<style scoped>

</style>
