<script setup lang="ts">
import { defineEmits, defineProps } from "vue";

const emit = defineEmits(['toggle'])
const props = defineProps({
    show: {
      type: Boolean,
      default: false,
    }
})
function toggleDialog() {
  emit('toggle')
}
</script>

<template>
  <div class="dialog" v-if="show" @click.stop="toggleDialog()">
    <div @click.stop class="dialog__content">
      <slot></slot>
    </div>
  </div>
</template>


<script lang="ts">
export default {
  name: "VModal"
}
</script>
<style scoped lang="scss">
.dialog {
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  position: fixed;
  display: flex;

  &__content {
    padding: 20px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    min-height: 50px;
    min-width: 300px;
  }
}
</style>
