<script setup lang="ts">
import { defineEmits, ref, defineProps } from "vue";
import { useStore } from 'vuex'

const props = defineProps({
  option: {
    type: Object,
  },
})

const store = useStore()

const currentItem = store.state.postsControl[props.option?.type] ? ref(store.state.postsControl[props.option?.type]) :
    ref(localStorage.getItem(props.option?.type) || props.option?.value[0]?.value)

const emit = defineEmits(['change'])

function changePostNumbers(): void {
  if (props.option?.action) {
    store.commit(props.option?.action, currentItem.value)
  } else {
    localStorage.setItem(props.option?.type, currentItem.value)
  }
  emit('change', currentItem.value)
}
</script>
<template>
  <select @change="changePostNumbers" v-model="currentItem">
    <option v-for="item in option.value" :value="item.value" :key="`${item.value}${item.title}`">{{ $t(item.title) }}</option>
  </select>
</template>

<script lang="ts">
export default {
  name: "VSelect"
}
</script>

<style scoped lang="scss">
$glass: rgba(0, 0, 0, 0.2);
$glass-icon: rgba(0, 0, 0, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #320a28;

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  max-width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
  no-repeat right 0.8em center / 1.4em,
  linear-gradient(to left, $glass-icon 3em, $glass 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  option {
    color: inherit;
    background-color: $option;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}


</style>
