<script setup lang="ts">
import {ref, defineEmits, defineProps} from 'vue'

const emit = defineEmits(['input'])
const props = defineProps({
  placeHolderText: {
    type: String,
    default: ''
  },
  content: {
    type: String,
    default: ''
  }
})
const inputValue: {
  value: string
} = ref(props.content)


function changeValue() {
  emit('input', inputValue.value)
}
</script>
<template>
  <input type="text" id="name" name="user_name" v-model="inputValue" @input="changeValue" :placeholder="placeHolderText">
</template>

<script lang="ts">
export default {
  name: "VSearch"
}
</script>

<style scoped>
input[type="text"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  width: 90%;
  color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

</style>
