<template>
  <div class="home">
    <PostList/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import PostList from '@/components/PostList.vue'; // @ is an alias to /src

export default defineComponent({
  name: 'HomeView',
  components: {
    PostList,
  },
});
</script>
