<script setup lang="ts">
import { onMounted, ref } from "vue";
import {useStore} from "vuex";
import history from "@/services/history";
import ThePost from "@/components/ThePost.vue";
import {useRouter} from "vue-router";


const store = useStore()
const router = useRouter()
const posts = ref<object[]>([])

async function getHistory() {
  const response = await history.getHistory(store.state.postsControl.seenPosts)
  response.data.forEach((item) => posts.value.push(item))
}

function openSinglePost(post) {
  const id = post._id
  router.push({
    name: 'SinglePost',
    params: { id },
  })
}

onMounted(() => getHistory())
</script>

<template>
<div  class="post_container" v-if="posts.length">
  <ThePost v-for="post in posts" :key="post._id" :post="post" @openPost="openSinglePost(post)" data-testId="post" :data-testPostId="post._id">
  </ThePost>
</div>
</template>

<style scoped>

</style>
