<template>
<div>
  <ThePost :post="postItem" EditMode @editPost="editPost()" @deletePost="backToMainPage()" :creationDate="postItem.created_at" data-testId="post" :data-testPostId="postItem._id" />
  <VModal :show="showModal" @toggle="showModal = !showModal">
    <PostForm :post="postItem" @update="updatePost($event)"/>
  </VModal>
</div>
</template>

<script setup lang="ts">
import PostForm from "@/components/PostForm.vue"
import ThePost from "@/components/ThePost.vue";
import { onMounted, ref, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import post from "@/services/post"

const route = useRoute()
const router = useRouter()

const postId = computed(() => String(route.params.id))
const postItem = ref<object>({})
const showModal = ref<boolean>(false)

async function updatePost(data: any): Promise<void> {
  showModal.value = false
  let formData = new FormData()
  for (let name in data){
    formData.append(name, data[name])
  }
  await post.updatePost(formData)
  await getPost()
}
async function getPost() {
  try {
    const response: any = await post.getPostById(postId.value)
    postItem.value = { ...postItem.value, ...response.data }
  } catch(e) {
    console.log(e)
  }
}
function editPost (): void {
  showModal.value = true
}
function backToMainPage(): void {
  router.push('/')
}

onMounted(() => {
      getPost()
})
</script>

<style scoped>
.post__item {
  margin: 0 auto;
  width: 300px;
  flex-direction: column;
}
</style>
