<script setup lang="ts">
import { onMounted } from 'vue'
import i18n from "./i18n";
import moment from 'moment';


onMounted(() => moment.locale(localStorage.getItem('lang') ?? 'en'))
function changeLocale(data: string) {
  i18n.global.locale.value = data
  moment.locale(data)
}
</script>

<template>
  <VSelect class="lang-select"
           :option="{
              type: 'lang',
              value: [
            {
              title: $t('localisation.en'),
              value: 'en'
            },
            {
              title: $t('localisation.uk'),
              value: 'uk'
            },
            {
              title: $t('localisation.it'),
              value: 'it'
            }
          ]}"
           @change="changeLocale($event)"
  />
  <nav class="navigation">
    <router-link data-testId="home-page" to="/">{{ $t('home') }}</router-link> |
    <router-link  data-testId="history-page" to="/history">{{ $t('history') }}</router-link>
  </nav>
  <router-view/>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.lang-select {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navigation {
  @media screen and (max-width: 550px) {
    padding-top: 80px;
  }
}
</style>
